<?xml version='1.0' encoding='utf-8'?>
<widget id="com.trasus.vorlex" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>X - TRASUS</name>
    <description>VORLEX EDITOR HD - Edit Foto + Crop + Teks</description>
    <author email="agengganteng372@gmail.com" href="https://github.com/agengganteng372-beep">TRASUS</author>
    
    <content src="index.html" />
    
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-file" spec="6.0.2" />
    <plugin name="cordova-plugin-file-transfer" spec="1.7.1" />
    <plugin name="cordova-plugin-device" spec="2.0.3" />
    <plugin name="cordova-plugin-splashscreen" spec="6.0.2" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="market:*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-build-tool" value="gradle" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="android-minSdkVersion" value="21" />
        <preference name="Orientation" value="portrait" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="FadeSplashScreenDuration" value="1000" />
    </platform>
    
    <preference name="EnableViewportScale" value="true" />
    <preference name="MediaPlaybackRequiresUserGesture" value="false" />
    <preference name="Fullscreen" value="false" />
    <preference name="BackgroundColor" value="0xff0f0f1a" />
</widget>
